
.poke-name{
    font-size: large;
    display: flex;
}

.poke-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    cursor: pointer;
}

.poke-img:hover{
    filter: contrast(1.5);
}

.game-area{
    display: flex;
    margin: 100px 100px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
}